body{
	margin: 0;
	padding: 0;
	background-image: URL(pics/fondo.jpg)
}
#mainCointainer2{
	width: 700px;
	
}
#Logo2{
	position: relative;
	top: -300px;
	left: 80px;
	margin: 0;
	padding: 0;
	width: 5%;
}
